@import "colors.scss";
@import "color-class.scss";


html, body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  scrollbar-color: #666 #333;
  scrollbar-width: 0.5em;
  background-color: $background;
  color: $foreground;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  //vertical-align: baseline;
  //background: transparent;
  //font-size: 100%;
}

*::-webkit-scrollbar {
  width: .6rem;
  height: .7rem;
}

*::-webkit-scrollbar-track {
  //-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background: rgba(0, 0, 0, 0);
  opacity: 0;
  width: 0.5rem;
}

*::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #626262;
  border: 1px solid #2f2f2f;
  z-index: 1000;
}

*::-webkit-scrollbar-thumb:hover {
  background: #989898;
}

*::-webkit-scrollbar-thumb:window-inactive {
  background: #444;
}

.font-7 {
  font-size: 0.7rem;
}

.font-8 {
  font-size: 0.8rem;
}

.font-9 {
  font-size: 0.9rem;
}

.font-11 {
  font-size: 1.1rem;
}

.font-10 {
  font-size: 1rem;
}

.font-12 {
  font-size: 1.2rem;
}

.font-13 {
  font-size: 1.3rem;
}

.font-thin {
  font-family: 'Roboto-Thin', serif;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.separator:not(:first-of-type) {
  border-top: 1px solid rgba(255, 255, 255, 0.06);
}

.overflow-auto {
  overflow: auto;
}

.bg-other {
  background-color: rgb(41, 43, 47);
}

.icon-btn {
  cursor: pointer;
  line-height: 1.5rem;
  font-size: 1.1rem;
  height: 1.5rem;
  min-height: 1.5rem;
  width: 1.5rem;
  min-width: 1.5rem;
  padding-right: 1px;
  text-align: center;
  border-radius: 50%;
  opacity: 0.7;
}

.icon-btn:hover, .icon-btn-30:hover, .icon-btn-18:hover, .icon-btn-40:hover {
  background-color: $background-hover;
  opacity: 1;
}

.icon-btn-fill {
  opacity: 1;
}

.icon-btn-30 {
  @extend .icon-btn;
  line-height: 30px;
  font-size: 25px;
  height: 30px;
  min-height: 30px;
  width: 30px;
  min-width: 30px;
}

.icon-btn-18 {
  @extend .icon-btn;
  line-height: 18px;
  font-size: 16px;
  height: 18px;
  min-height: 18px;
  width: 18px;
  min-width: 18px;
}

.icon-btn-40 {
  @extend .icon-btn;
  line-height: 40px;
  font-size: 32px;
  height: 40px;
  min-height: 40px;
  width: 40px;
  min-width: 40px;
}

.btn-small.mat-button-base {
  line-height: 22px;

  .mat-button-wrapper {
    font-size: 13px;
  }
}

.as-split-gutter {
  background-color: #3f4758 !important;
}

.selected {
  outline: 2px solid #3668b5;
  background-color: rgba(13, 71, 161, 0.3) !important;
}

.task-label {
  display: inline-block;
  min-height: 0.3rem;
  margin-right: 0.4rem;
  padding: 0.1rem 0.4rem;
  background-color: $background-quaternary;
  min-width: 1.5rem;
  box-shadow: $elevate-2;
  border-radius: 0.7rem;
}

.no-shadow > .task-label {
  box-shadow: none;
}

.message-success {
  @extend .bg-success;
  @extend .fg;
}

.message-error {
  @extend .bg-error;
  @extend .fg;
}

.message-info {
  @extend .bg-accent;
  @extend .fg;
}

.message-warning {
  background-color: $warn-bg;
  @extend .fg;
}

.message-success .mat-button, .message-error .mat-button, .message-success .mat-button {
  border: 1px solid rgba(255, 255, 255, 0.12)
}

mat-form-field.field-small {
  .mat-form-field-infix {
    margin-top: 0;
    padding-bottom: 10px;
    border-top: none;
  }

  .mat-select-arrow-wrapper {
    transform: none;
  }
}

.small-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding: 2px;
  background: transparent;
  color: $foreground;
}

.small-input:hover {
  border-width: 2px;
  border-color: white;
}

.small-input:focus {
  border-width: 2px;
  border-color: $primary;
}

.markdown-content-preview {
  white-space: pre-wrap;
}

.markdown-content, md-editor {
  line-height: 1.35rem;

  li {
    margin-left: 0.5rem;
    display: list-item;
    list-style-position: inside;

    ul, ol {
      margin-left: 1rem;
    }
  }

  p {
    white-space: pre-wrap;
  }
  p:not(:first-of-type) {
    margin-top: 0.5rem;
  }
  p:not(:last-of-type) {
    margin-bottom: 0.25rem;
  }

  blockquote, ul, ol {
    //white-space: initial;
  }

  &:not(ul,ol) > ul, &:not(ul,ol) > ol {
    margin-block-start: 0.1em;
    margin-block-end: 0.4em;
  }

  h1 {
    margin-top: 1.5rem;
    padding-left: 0.75rem;
    border-bottom: 1px solid map_get($mat-cyan, 100);
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
    color: lighten(map_get($mat-cyan, 100), 15%);
  }

  h2 {
    margin-top: 0.25rem;
    padding-left: 0.25rem;
    padding-bottom: 0.25rem;
    padding-top: 0.5rem;
    background: darken(desaturate(map_get($mat-light-blue, 500), 85%), 25%);
    border-radius: 0.4rem;
  }

  h3 {
    margin-top: 0.75rem;
    font-size: 1.25rem;
    //background: darken($background, 5%);
  }

  h4 {
    font-size: 1.15rem;
  }

  hr {
    margin-top: 0.5rem
  }

  table {
    background: darken(desaturate(map_get($mat-light-blue, 500), 90%), 30%);
  }

  .ace-twilight {
    background-color: #272822;
  }
}

blockquote {
  @extend .fg-3;
  border: 0;
  border-left: 2px solid $background-quaternary;
  font-style: italic;
  padding: 0.4rem 0 0.4rem 0.5rem;
}

code {
  background-color: $background-alt;
  border-radius: 0.4rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  font-family: Consolas, Monaco, "Liberation Mono", "Courier New", monospace !important;
}

pre > code {
  display: block;
  padding-bottom: 0.2rem;
  padding-top: 0.2rem;
}

hr {
  border-top-style: inset;
  border-top-width: 1px;
  border-color: $foreground-tertiary;
}

a {
  color: #5089f8;
  cursor: pointer;
}

a:visited {
  color: #98b8f6;
}

a:hover {
  color: #266fff;
}

.hljs {
  background: $background-alt;
}

md-editor .preview-panel {
  background-color: $background !important;
}

.ace-editor {
  font-size: 1rem;
}
