@import "colors.scss";
@import "color-class.scss";


html, body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  scrollbar-color: #666 #333;
  scrollbar-width: 0.5em;
  background-color: $background;
  color: $foreground;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  //vertical-align: baseline;
  //background: transparent;
  //font-size: 100%;
}

*::-webkit-scrollbar {
  width: .6rem;
  height: .7rem;
}

*::-webkit-scrollbar-track {
  //-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background: rgba(0, 0, 0, 0);
  opacity: 0;
  width: 0.5rem;
}

*::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #626262;
  border: 1px solid #2f2f2f;
  z-index: 1000;
}

*::-webkit-scrollbar-thumb:hover {
  background: #989898;
}

*::-webkit-scrollbar-thumb:window-inactive {
  background: #444;
}

.font-7 {
  font-size: 0.7rem;
}

.font-8 {
  font-size: 0.8rem;
}

.font-9 {
  font-size: 0.9rem;
}

.font-11 {
  font-size: 1.1rem;
}

.font-10 {
  font-size: 1rem;
}

.font-12 {
  font-size: 1.2rem;
}

.font-13 {
  font-size: 1.3rem;
}

.font-thin {
  font-family: 'Roboto-Thin', serif;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.separator:not(:first-of-type) {
  border-top: 1px solid rgba(255, 255, 255, 0.06);
}

.overflow-auto {
  overflow: auto;
}

.bg-other {
  background-color: rgb(41, 43, 47);
}

.icon-btn {
  cursor: pointer;
  line-height: 1.5rem;
  font-size: 1.1rem;
  height: 1.5rem;
  min-height: 1.5rem;
  width: 1.5rem;
  min-width: 1.5rem;
  padding-right: 1px;
  text-align: center;
  border-radius: 50%;
  opacity: 0.5;
}

.icon-btn:hover, .icon-btn-30:hover, .icon-btn-18:hover, .icon-btn-40:hover {
  background-color: $background-hover;
  opacity: 1;
}

.icon-btn-30 {
  @extend .icon-btn;
  line-height: 30px;
  font-size: 25px;
  height: 30px;
  min-height: 30px;
  width: 30px;
  min-width: 30px;
}

.icon-btn-18 {
  @extend .icon-btn;
  line-height: 18px;
  font-size: 16px;
  height: 18px;
  min-height: 18px;
  width: 18px;
  min-width: 18px;
}

.icon-btn-40 {
  @extend .icon-btn;
  line-height: 40px;
  font-size: 32px;
  height: 40px;
  min-height: 40px;
  width: 40px;
  min-width: 40px;
}

.btn-small.mat-button-base {
  line-height: 22px;

  .mat-button-wrapper {
    font-size: 13px;
  }
}

.as-split-gutter {
  background-color: #3f4758 !important;
}

.selected {
  outline: 2px solid #3668b5;
  background-color: rgba(13, 71, 161, 0.3) !important;
}
