<as-split *ngIf="board && lists?.length > 0" [gutterSize]="7">
  <div as-split-area [size]="100 - ui.detailsWith" [minSize]="10"
       class="p-2  d-flex h-100 align-items-start"
       style="overflow-x: auto; overflow-y: hidden">
    <div class=" d-flex h-100 align-items-start" *ngIf="!loading" cdkDropListGroup>
      <div class="list m-1 d-flex flex-column" *ngFor="let l of lists" style="max-height: 100%"
           cdkDropList (cdkDropListDropped)="drop($event)" [cdkDropListData]="l.$tasks"
           (click)="selectedList = l"
           [ngClass]="{'list-selected': selectedList === l}"
           [ngStyle]="{'width.px': ui.listWidth, 'min-width.px': ui.listWidth}">
        <div class="px-2 pb-2 w-100 d-flex align-items-center elevate-bottom-2">
          <h4 class="p-0 m-0 text-ellipsis">{{l.title}}</h4>
          <span class="font-9 fg-4 mr-1" style="padding-top: 0.1rem;">&nbsp;({{filterTasks(l.$tasks, l).length}}
            /{{l.$tasks.length}})</span>
          <i class="material-icons icon-btn secondary-btn" matTooltip="Edit"
             (click)="renameList(l)">edit</i>
          <div class="flex-grow-1"></div>
          <i class="material-icons icon-btn mr-1 secondary-btn" *ngIf="l.position > 0" matTooltip="Move left"
             (click)="moveList(l, l.position-1)">keyboard_arrow_left</i>
          <i class="material-icons icon-btn mr-1 secondary-btn" *ngIf="l.position < (lists.length - 1)"
             matTooltip="Move right" (click)="moveList(l, l.position+1)">keyboard_arrow_right</i>
          <i class="material-icons icon-btn mr-1 secondary-btn" [matMenuTriggerFor]="listDetailsMenu">more_vert</i>
          <mat-menu #listDetailsMenu="matMenu">
            <button *ngIf="l.synchronized_file === null" mat-menu-item (click)="enableFileSync(l)">
              <mat-icon>sync</mat-icon>
              <span>Enable file synchronization</span>
            </button>
            <button *ngIf="l.synchronized_file !== null" mat-menu-item (click)="disableFileSync(l)">
              <mat-icon>sync_disabled</mat-icon>
              <span>Disable file synchronization</span>
            </button>
            <button mat-menu-item (click)="exportToFile(l)">
              <mat-icon>save</mat-icon>
              <span>Export to file</span>
            </button>
            <button mat-menu-item (click)="changeListWidth()">
              <mat-icon>width</mat-icon>
              <span>Change list width</span>
            </button>
            <button mat-menu-item (click)="deleteList(l)">
              <mat-icon>delete</mat-icon>
              <span>Delete</span>
            </button>
          </mat-menu>
          <i class="material-icons icon-btn" (click)="addTask(l)" matTooltip="Add task (^⇧ A)">add</i>
        </div>
        <div class="overflow-auto flex-grow-1" [ngStyle]="{ 'font-size.rem': (ui.itemFontSize/100)}"
             style="min-height: 3rem">
          <div *ngFor="let task of filterTasks(l.$tasks, l)" class="list-item separator"
               [ngClass]="{'selected': task === visibleTask}"
               cdkDrag
               [ngStyle]="{ 'padding-top.rem': (ui.itemPadding/100 * 0.5), 'padding-bottom.rem': (ui.itemPadding/100 * 0.5)}"
               tabindex="-1" (click)="selectTask(task);">

            <ng-container *ngIf="task.type === types.STANDARD; else noteModeBlock">
              <div class="d-flex flex-wrap">
                <span class="flex-grow-1">{{task.title}}</span>
                <span [ngStyle]="{ 'font-size.rem': (ui.itemFontSize/100*0.85)}"
                      *ngIf="ui.itemDueDateVisibility && task.due_date"
                      class="fg-3 d-flex justify-content-end align-items-center">
                                  <span>{{task.due_date | dateMillis}}</span></span>
                <span *ngIf="task.handled <= 0 && task.due_date > now"><mat-icon class="material-icons-outlined inline-icon">notifications</mat-icon></span>
              </div>
              <app-label-chip-row class="d-block" *ngIf="task.$labels?.length > 0" [labels]="task.$labels"></app-label-chip-row>
              <div class="fg-4 text-ellipsis mt-1 markdown-content-preview"
                   *ngIf="ui.itemContentVisibleLines > 0 && task.content"
                   [ngStyle]="{ 'font-size.rem': (ui.itemFontSize/100*0.8), 'max-height.rem': (ui.itemContentVisibleLines+0.6)*(ui.itemFontSize/100*0.8)}">{{task.content}}</div>
            </ng-container>
            <ng-template #noteModeBlock>
              <div class="fg-2 mt-1 markdown-content text-ellipsis"
                   [innerHTML]="task.content | markdown"
                   [ngStyle]="{ 'font-size.rem': (ui.itemFontSize/100*0.9), 'max-height.rem': (ui.itemContentVisibleLines+0.6)*(ui.itemFontSize/100*0.9*2.5)}">{{task.content}}</div>

              <app-label-chip-row class="d-block" *ngIf="task.$labels?.length > 0" [labels]="task.$labels"
                                 ></app-label-chip-row>

            </ng-template>

          </div>
        </div>
      </div>
      <button class="list-add" mat-stroked-button matTooltip="Create list" (click)="addList()">
        +
      </button>
    </div>
    <div *ngIf="loading" class="w-100">
      <mat-spinner [diameter]="40" class="m-auto"></mat-spinner>
    </div>
    <div>&nbsp;</div>
  </div>
  <div as-split-area [size]="ui.detailsWith" [minSize]="5" *ngIf="visibleTask !== null"
       class="d-flex bg flex-column align-items-stretch overflow-hidden">
    <div class="task-details-panel-header px-2 d-flex align-items-center">
      <i class="mr-2 material-icons icon-btn bg-6" matRipple (click)="visibleTask = null"
         matTooltip="Close">close</i>
      <span class="flex-grow-1 font-12 text-ellipsis">{{visibleTask.title}}</span>
      <i class="ml-1 material-icons icon-btn" matRipple matTooltip="Task actions"
         [matMenuTriggerFor]="itemDetailsMenu">more_vert</i>
      <mat-menu #itemDetailsMenu="matMenu">
        <button mat-menu-item (click)="startEdit()">
          <mat-icon>edit</mat-icon>
          <span>Edit (^⇧ E)</span>
        </button>
        <button mat-menu-item (click)="moveTaskToTop(visibleTask)">
          <mat-icon>arrow_upward</mat-icon>
          <span>Move to list top (^⇧ D)</span>
        </button>
        <button mat-menu-item (click)="moveTaskToBottom(visibleTask)">
          <mat-icon>arrow_downward</mat-icon>
          <span>Move to list bottom (^⇧ F)</span>
        </button>
        <button mat-menu-item (click)="deleteTask(visibleTask)">
          <mat-icon>delete</mat-icon>
          <span>Delete</span>
        </button>
      </mat-menu>
    </div>
    <app-task-details class="overflow-auto" [task]="visibleTask" [list]="selectedList"
                      (saved)="onTaskSaved($event)"
                      (closed)="visibleTask = null">
    </app-task-details>
  </div>
</as-split>

<div *ngIf="!board" class="text-center p-4 fg-4">
  No board selected. <br><span class="font-9">Use left bar to manage.</span>
</div>

<div *ngIf="!loading && (lists === null || lists.length === 0)" class="text-center p-4 fg-4">
  No lists available.
  <br>
  Create first
  <br>
  <br>
  <button class="list-add" mat-stroked-button matTooltip="Create list" (click)="addList()">
    +
  </button>
</div>
