@import "../../../styles/scss/colors";
@import "../../../styles/scss/color-class";

.list {
  background-color: $background-alt; //#36393f;
  border-radius: 10px;
  padding: 0.5rem 0;
  overflow: hidden;
  box-shadow: $elevate-3;

  --mdc-checkbox-state-layer-size: 32px
}

.list-item {
  padding: 0 0.5rem;
  cursor: grab;
}

.list-item:hover {
  background-color: rgba(79, 84, 92, 0.25);
}

.secondary-btn {
  display: none;
}

.list:hover .secondary-btn {
  display: block;
}

.list-selected {
  outline: 2px solid #324857;
  -moz-outline-radius: 2px;
}

.list-add {
  border: 3px dashed $background-3;
  color: $foreground-quaternary;
  font-size: 30px;
  margin-top: 3px;
  border-radius: 10px;
}

.cdk-drag-dragging {
  cursor: grabbing;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  background: #36393f;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.list.cdk-drop-list-dragging .list-item:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.task-details-panel-header {
  @extend .bg-alt-3;
  position: sticky;
  height: 2rem;
  line-height: 2rem;
  box-shadow: $elevate-2;
}

.list-item .task-state-open {
  display: none;
}

.filters-panel {
  @extend .bg-alt-3;
  box-shadow: $elevate-2;
  z-index: 10;
  position: relative;
}
