<div class="h-100 d-flex flex-column">

  <div *ngIf="lists?.length > 0 && state.listMode.value.mode === 'advanced'" class="p-2 d-flex filters-panel">
    <div class="row">
    <span class="col-12 col-sm-auto">
    Filters
    </span>
      <div class="col-12 col-sm-auto field-small mb-2">
        <input placeholder="Search phrase" class="input-md w-100" maxlength="100" (keydown.enter)="save()"
               (keydown.control.enter)="save()">
      </div>
      <mat-form-field class="col-12 col-sm-auto field-ex-small mb-2" appearance="outline">
        <mat-select placeholder="Priority (not selected)">
          <mat-option *ngFor="let e of priorityAttrs|keyvalue"
                      [value]="e.key">{{e.value.title}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="col-12 col-sm-auto field-ex-small" appearance="outline">
        <mat-select placeholder="State (not selected)">
          <mat-option *ngFor="let e of stateAttrs|keyvalue"
                      [value]="e.key">{{e.value.title}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="ml-2 flex-grow-1 d-flex">
      <div class="flex-grow-1">
        <i class="material-icons icon-btn-30">
          <mat-icon>search</mat-icon>
        </i>
      </div>
      <button mat-flat-button color="accent" class="btn-small mt-2" [disabled]="selectedTasks?.length === 0"
              style="min-width: 190px">
        <span>Actions for {{selectedTasks.length}} tasks</span><i class="material-icons inline-icon">arrow_drop_down</i>
      </button>
    </div>
    <i class="ml-2 material-icons icon-btn mt-1" (click)="state.changeListMode('normal')">close</i>
  </div>
  <as-split *ngIf="lists?.length > 0" [gutterSize]="7">
    <div as-split-area [size]="100 - ui.detailsWith" [minSize]="10"
         style="overflow-x: auto; overflow-y: hidden" class="d-flex flex-column flex-grow-1"
    >
      <div class="h-100 d-flex align-items-start" *ngIf="!loading" cdkDropListGroup>
        <!--        style="max-height: 100%"-->
        <div class="list m-1  d-flex flex-column" *ngFor="let l of lists" style="max-height: -webkit-fill-available;"
             cdkDropList (cdkDropListDropped)="drop($event)" [cdkDropListData]="l.$tasks"
             (click)="highlightedList = l"
             [ngClass]="{'list-selected': highlightedList === l}"
             [ngStyle]="{'width.px': ui.listWidth, 'min-width.px': ui.listWidth}">
          <div class="px-2 pb-2 w-100 d-flex align-items-center elevate-bottom-2">
            <h4 class="p-0 m-0 text-ellipsis">{{l.title}}</h4>
            <span class="font-9 fg-4 mr-1" style="padding-top: 0.1rem;">&nbsp;({{filterTasks(l.$tasks, l).length}}
              /{{l.$tasks.length}})</span>
            <i *ngIf="(state.selectedBoard | async).done_tasks_list_id !== l.id"
               class="material-icons icon-btn secondary-btn"
               matTooltip="Mark as target list for 'Mark done' operation"
               (click)="markListForDoneTasks(l)">verified_user</i>
            <i *ngIf="(state.selectedBoard | async).done_tasks_list_id === l.id" class="material-icons fg-accent"
               matTooltip="This list is a target list for 'Mark done' operation. Every task after executing 'Mark done' action will be moved here">verified_user</i>
            <i class="material-icons icon-btn secondary-btn" matTooltip="Edit"
               (click)="renameList(l)">edit</i>
            <div class="flex-grow-1"></div>
            <i class="material-icons icon-btn mr-1 secondary-btn" *ngIf="l.position > 0" matTooltip="Move left"
               (click)="listService.moveList(l, l.position-1, lists)">keyboard_arrow_left</i>
            <i class="material-icons icon-btn mr-1 secondary-btn" *ngIf="l.position < (lists.length - 1)"
               matTooltip="Move right" (click)="listService.moveList(l, l.position+1, lists)">keyboard_arrow_right</i>
            <i class="material-icons icon-btn mr-1 secondary-btn" [matMenuTriggerFor]="listDetailsMenu">more_vert</i>
            <mat-menu #listDetailsMenu="matMenu" overlapTrigger="true">
              <button *ngIf="state.listMode.value.mode === 'advanced'" mat-menu-item (click)="selectAllForList(l)">
                <mat-icon>select_all</mat-icon>
                <span>Select all filtered tasks</span>
              </button>
              <button *ngIf="state.listMode.value.mode === 'advanced'" mat-menu-item (click)="selectNoneForList(l)">
                <mat-icon>deselect</mat-icon>
                <span>Deselect all tasks</span>
              </button>
              <button *ngIf="l.synchronized_file === null" mat-menu-item (click)="enableFileSync(l)">
                <mat-icon>sync</mat-icon>
                <span>Enable file synchronization</span>
              </button>
              <button *ngIf="l.synchronized_file !== null" mat-menu-item (click)="disableFileSync(l)">
                <mat-icon>sync_disabled</mat-icon>
                <span>Disable file synchronization</span>
              </button>
              <button mat-menu-item (click)="exportToFile(l)">
                <mat-icon>save</mat-icon>
                <span>Export to file</span>
              </button>
              <button mat-menu-item (click)="changeListWidth()">
                <mat-icon>width</mat-icon>
                <span>Change list width</span>
              </button>
              <button mat-menu-item (click)="deleteList(l)">
                <mat-icon>delete</mat-icon>
                <span>Delete</span>
              </button>
            </mat-menu>
            <i class="material-icons icon-btn" (click)="addTask(l)" matTooltip="Add task (^⇧ A)">add</i>
          </div>
          <div class="overflow-auto flex-grow-1" [ngStyle]="{ 'font-size.rem': (ui.itemFontSize/100)}"
               style="min-height: 3rem">
            <div *ngFor="let task of filterTasks(l.$tasks, l)" class="list-item separator"
                 [ngClass]="{'selected': task === (state.selectedTask | async)}"
                 cdkDrag
                 [cdkDragDisabled]="!dragEnabled  || state.listMode.value.mode !== 'normal'"
                 [remoteMenuTrigger]="{ref: holder, eventType: 'contextmenu'}"
                 [ngStyle]="{
                 'padding-top.rem': (ui.itemPadding/100 * 0.5),
                 'padding-bottom.rem': (ui.itemPadding/100 * 0.5),
                 'cursor': (!dragEnabled  || state.listMode.value.mode !== 'normal' ? 'unset' : 'grab')
               }"
                 tabindex="-1" (click)="selectTask(task);">

              <ng-container *ngIf="task.type === types.STANDARD; else noteModeBlock">
                <div class="d-flex">
                  <mat-checkbox *ngIf="state.listMode.value.mode === 'advanced'"
                                style="margin-top: -3px; margin-left: -3px"
                                class="mr-1" (click)="$event.stopPropagation()" [(ngModel)]="task.$selected"
                                (ngModelChange)="itemSelectionChange()"
                                color="primary"></mat-checkbox>
                  <div class="flex-grow-1">
                    <div class="d-flex flex-wrap">
                    <span class="flex-grow-1 d-flex">
                      {{task.title}}
                    </span>
                      <span [ngStyle]="{ 'font-size.rem': (ui.itemFontSize/100*0.85)}"
                            *ngIf="ui.itemDueDateVisibility && task.due_date"
                            class="fg-3 d-flex justify-content-end align-items-center">
                                      <span>{{task.due_date | dateMillis}}</span>
                    </span>
                      <span *ngIf="task.handled <= 0 && task.due_date > now">
                      <mat-icon style="color: #aa00ff" class="material-icons-outlined inline-icon"
                                [matTooltip]="'Active notification'">notifications</mat-icon>
                    </span>
                    </div>
                    <app-label-chip-row class="d-block" *ngIf="task.$labels?.length > 0"
                                        [labels]="task.$labels"></app-label-chip-row>
                    <div class="fg-4 text-ellipsis mt-1 markdown-content-preview"
                         *ngIf="ui.itemContentVisibleLines > 0 && task.content"
                         [ngStyle]="{ 'font-size.rem': (ui.itemFontSize/100*0.8), 'max-height.rem': (ui.itemContentVisibleLines+0.6)*(ui.itemFontSize/100*0.8)}">{{task.content}}</div>
                  </div>
                  <div *ngIf="ui.stateVisible || ui.priorityVisible" class="d-flex flex-column ml-1 align-items-center">
                    <mat-icon *ngIf="ui.priorityVisible" class="material-icons-outlined mb-1 inline-icon"
                              [ngClass]="'priority-' + priorityAttrs.get(task.priority).code">{{priorityAttrs.get(task.priority).icon}}</mat-icon>
                    <mat-icon *ngIf="ui.stateVisible" class="inline-icon"
                              [ngClass]="'task-state-' + stateAttrs.get(task.state).code">{{stateAttrs.get(task.state).icon}}</mat-icon>
                  </div>
                </div>
              </ng-container>
              <ng-template #noteModeBlock>
                <div class="fg-2 mt-1 markdown-content text-ellipsis"
                     [innerHTML]="task.content | markdown"
                     [ngStyle]="{ 'font-size.rem': (ui.itemFontSize/100*0.9), 'max-height.rem': (ui.itemContentVisibleLines+0.6)*(ui.itemFontSize/100*0.9*2.5)}">{{task.content}}</div>

                <app-label-chip-row class="d-block" *ngIf="task.$labels?.length > 0" [labels]="task.$labels"
                ></app-label-chip-row>

              </ng-template>
              <div [matMenuTriggerFor]="taskContextMenu" #holder="matMenuTrigger"
                   [matMenuTriggerData]="{'task': task}"></div>
            </div>
            <mat-menu #taskContextMenu>
              <ng-template matMenuContent let-task="task">
                <button
                  *ngIf="(state.selectedBoard | async).done_tasks_list_id > 0 && l.id !== (state.selectedBoard | async).done_tasks_list_id"
                  mat-menu-item
                  (click)="markTaskAsDone(task)">
                  <mat-icon>verified_user</mat-icon>
                  <span>Mark done ({{keyCommands.markTaskAsDone.toShortString()}})</span>
                </button>
                <button mat-menu-item (click)="taskService.moveTaskToTop(task)">
                  <mat-icon>arrow_upward</mat-icon>
                  <span>Move to list top ({{keyCommands.moveTaskToTop.toShortString()}})</span>
                </button>
                <button mat-menu-item (click)="taskService.moveTaskToBottom(task)">
                  <mat-icon>arrow_downward</mat-icon>
                  <span>Move to list bottom ({{keyCommands.moveTaskToBottom.toShortString()}})</span>
                </button>
                <button mat-menu-item (click)="deleteTask(task)">
                  <mat-icon>delete</mat-icon>
                  <span>Delete</span>
                </button>
              </ng-template>
            </mat-menu>
          </div>
        </div>
        <button class="list-add" mat-stroked-button matTooltip="Create list" (click)="addList()">
          +
        </button>
      </div>
      <div *ngIf="loading" class="w-100">
        <mat-spinner [diameter]="40" class="m-auto"></mat-spinner>
      </div>
      <div>&nbsp;</div>
    </div>
    <div as-split-area [size]="ui.detailsWith" [minSize]="5" *ngIf="(state.selectedTask | async) as task"
         class="d-flex bg flex-column align-items-stretch overflow-hidden">
      <div class="task-details-panel-header px-2 d-flex align-items-center">
        <i class="mr-2 material-icons icon-btn bg-6" matRipple (click)="state.selectedTask.next(null)"
           matTooltip="Close">close</i>
        <span class="flex-grow-1 font-12 text-ellipsis">{{task.title}}</span>
        <i class="ml-1 material-icons icon-btn" matRipple matTooltip="Task actions"
           [matMenuTriggerFor]="itemDetailsMenu">more_vert</i>
        <mat-menu #itemDetailsMenu="matMenu">
          <button mat-menu-item (click)="startEdit()">
            <mat-icon>edit</mat-icon>
            <span>Edit (^⇧E)</span>
          </button>
          <button mat-menu-item (click)="taskService.moveTaskToTop(task)">
            <mat-icon>arrow_upward</mat-icon>
            <span>Move to list top ({{keyCommands.moveTaskToTop.toShortString()}})</span>
          </button>
          <button mat-menu-item (click)="taskService.moveTaskToBottom(task)">
            <mat-icon>arrow_downward</mat-icon>
            <span>Move to list bottom ({{keyCommands.moveTaskToBottom.toShortString()}})</span>
          </button>
          <button mat-menu-item (click)="deleteTask(task)">
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
          </button>
        </mat-menu>
      </div>
      <app-task-details class="overflow-auto" (saved)="onTaskSaved($event)">
      </app-task-details>
    </div>
  </as-split>

  <div *ngIf="(state.selectedBoard | async) === null" class="text-center p-4 fg-4">
    No board selected. <br><span class="font-9">Use left bar to manage.</span>
  </div>

  <div *ngIf="!loading && (lists == null || lists.length === 0)" class="text-center p-4 fg-4">
    No lists available.
    <br>
    Create first
    <br>
    <br>
    <button class="list-add" mat-stroked-button matTooltip="Create list" (click)="addList()">
      +
    </button>
  </div>
</div>
