<h1 mat-dialog-title cdkDrag
    cdkDragRootElement=".cdk-overlay-pane"
    cdkDragHandle style="cursor: grab">Create task in '{{list.title}}'</h1>
<div mat-dialog-content>
  <form [formGroup]="form">
    <div class="row mb-3">
      <mat-form-field class="col-12 col-lg-6 col-xl-8" appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput required="true" maxlength="100" formControlName="name" #name cdkFocusInitial
               (keydown.enter)="$event.preventDefault();editor.focus()"
               (keydown.control.enter)="save()">
        <mat-hint align="end">{{name.value?.length || 0}} / 100</mat-hint>
        <mat-hint>Press '{{keys.saveTask.toLongStringAll()[0]}}' to submit</mat-hint>
      </mat-form-field>

      <mat-form-field class="col-12 col-lg-3 col-xl-2" appearance="fill">
        <mat-label>Priority</mat-label>
        <mat-select formControlName="priority">
          <mat-option *ngFor="let e of priorityAttrs | keyvalue" [value]="e.key">{{e.value.title}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="col-12 col-lg-3 col-xl-2" appearance="fill">
        <mat-label>State</mat-label>
        <mat-select formControlName="state">
          <mat-option *ngFor="let e of stateAttrs | keyvalue" [value]="e.key">{{e.value.title}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <app-monaco-editor #editor id="task-content" formControlName="content" [height]="'41vh'" [vertical]="false"></app-monaco-editor>
    <div class="d-flex justify-content-between">
      <div class="mat-hint font-8">Markdown supported</div>
      <div class="mat-hint font-8">{{form.get('content').value.length || 0}} / 30000</div>
    </div>
    <mat-error *ngFor="let e of (form.get('content').errors | keyvalue) || []" app-form-errors [error]="e"></mat-error>
    <div class="row mt-3">
      <div class="col-sm-5 col-md-4 col-lg-3 col-12 order-sm-1 mb-3">

        <mat-form-field class="w-100 field-small mb-1" appearance="fill">
          <mat-label>Due date</mat-label>
          <input matInput placeholder="dd.mm.yyyy" [value]="form.get('dueDate').value | dateUser" readonly="true"
                 (click)="viewService.openDatepicker(form.get('dueDate'), false, true)">
          <button mat-icon-button matSuffix (click)="viewService.openDatepicker(form.get('dueDate'), false, true)">
            <mat-icon>calendar_month</mat-icon>
          </button>
          <mat-hint>Click icon to select</mat-hint>
        </mat-form-field>
        <input hidden formControlName="dueDate">
      </div>
      <div class="col-sm-7 col-md-8 col-lg-9 col-12">
        <div class="mb-2">
          Labels:<br>
          <app-label-chip *ngFor="let lbl of selectedLabels" [label]="lbl" style="cursor: pointer"
                          [editable]="true"
                          (removed)="removeLabel(lbl)"
          ></app-label-chip>
        </div>
        <div class="my-2 panel-box p-2">
          Available:<br>
          <div>
            <app-label-chip *ngFor="let lbl of labels" [label]="lbl" style="cursor: pointer"
                            matTooltip="Click to add"
                            (click)="addLabel(lbl)"
            ></app-label-chip>
          </div>
        </div>
      </div>
    </div>


  </form>

</div>
<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="accent" (click)="save()">Save</button>
</div>
