@import "../../../styles/scss/colors";

.field {
  min-width: 150px;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.field-title {
  color: $foreground-quaternary;
  text-transform: uppercase;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid $background-4;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  i:not(.icon-btn) {
    font-size: 0.9rem;
  }

  .edit-button {
    visibility: hidden;
  }
}

.field-title:hover {
  .edit-button {
    visibility: visible;
  }

}

.field-content {
  margin-right: 0;
  padding-right: 0.5rem;
  border-right: 3px solid transparent;

  &:hover {
    border-color: #5b2c64;
  }
}

.history-item {
  background-color: $background-alt-2-darker;
  border-radius: 0.5rem;
  padding-bottom: 0.5rem;
}

.history-item-title {
  background-color: $background-4;
  border-top-left-radius: 0.5rem;
  padding: 0.3rem;
  font-size: 0.9rem;
}
