<as-split *ngIf="board && lists?.length > 0" gutterSize="7">
  <div as-split-area [size]="100 - ui.detailsWith" minSize="5"
       class="py-2 d-flex h-100 align-items-start"
       style="overflow-x: auto; overflow-y: hidden">
    <ng-container *ngIf="!loading">
      <div class="list m-1 d-flex flex-column" *ngFor="let l of lists" style="max-height: 100%"
           (click)="selectedList = l"
           [ngClass]="{'list-selected': selectedList == l}"
           [ngStyle]="{'width.px': ui.taskListWidth, 'min-width.px': ui.taskListWidth}">
        <div class="px-2 pb-2 w-100 d-flex align-items-center elevate-bottom">
          <h4 class="p-0 text-ellipsis">{{l.title}}</h4>
          <span class="font-9 fg-4 mr-1">&nbsp;({{l.$tasks.length}})</span>
          <i class="material-icons icon-btn secondary-btn" matTooltip="Edit">edit</i>
          <div class="flex-grow-1"></div>
          <i class="material-icons icon-btn mr-1 secondary-btn" matTooltip="Move left">keyboard_arrow_left</i>
          <i class="material-icons icon-btn mr-1 secondary-btn" matTooltip="Move right">keyboard_arrow_right</i>
          <i class="material-icons icon-btn mr-1 secondary-btn"  [matMenuTriggerFor]="listDetailsMenu">more_vert</i>
          <mat-menu #listDetailsMenu="matMenu">
            <button mat-menu-item>
              <mat-icon>delete</mat-icon>
              <span>Delete</span>
            </button>
          </mat-menu>
          <i class="material-icons icon-btn" (click)="addTask(l)" matTooltip="Add task">add</i>
        </div>
        <div class="overflow-auto flex-grow-1" [ngStyle]="{ 'font-size.rem': (ui.taskItemSize/100)}">
          <div *ngFor="let task of l.$tasks" class="list-item separator" [ngClass]="{'selected': task == visibleTask}"
               [ngStyle]="{
                'padding-top.rem': (ui.taskItemPadding/100 * 0.5),
                'padding-bottom.rem': (ui.taskItemPadding/100 * 0.5)
              }"
               tabindex="-1" (click)="selectTask(task);">
            {{task.title}}
            <app-label-chip-row class="d-block" *ngIf="task.$labels?.length > 0" [labels]="task.$labels"
                                [settings]="ui"></app-label-chip-row>
            <div class="fg-4 text-ellipsis mt-1" *ngIf="ui.taskShowContentSize > 0"
                 [ngStyle]="{ 'font-size.rem': (ui.taskItemSize/100*0.8)}">{{task.content}}</div>
          </div>
          <div class="text-right pr-2 pb-1">
            <button mat-stroked-button color="accent" class="mt-1 btn-small">Add</button>
          </div>
        </div>
      </div>
      <button class="list-add" mat-stroked-button matTooltip="Create list" (click)="addList()">
        +
      </button>
    </ng-container>
    <div *ngIf="loading" class="w-100">
      <mat-spinner [diameter]="40" class="m-auto"></mat-spinner>
    </div>
    <div>&nbsp;</div>
  </div>
  <div as-split-area [size]="ui.detailsWith" minSize="5" *ngIf="visibleTask != null"
       class="d-flex flex-column align-items-stretch overflow-hidden">
    <div class="bg-5 px-2 d-flex align-items-center" style="position: sticky; height: 2rem; line-height: 2rem">
      <i class="mr-2 material-icons icon-btn bg-6" matRipple (click)="visibleTask = null" matTooltip="Close">close</i>
      <span class="flex-grow-1 text-ellipsis">{{visibleTask.title}}</span>
      <i class="ml-1 material-icons icon-btn" matRipple matTooltip="Task actions"
         [matMenuTriggerFor]="itemDetailsMenu">more_vert</i>
      <mat-menu #itemDetailsMenu="matMenu">
        <button mat-menu-item>
          <mat-icon>arrow_upward</mat-icon>
          <span>Move to list top</span>
        </button>
        <button mat-menu-item>
          <mat-icon>arrow_downward</mat-icon>
          <span>Move to list bottom</span>
        </button>
        <button mat-menu-item>
          <mat-icon>delete</mat-icon>
          <span>Delete</span>
        </button>
      </mat-menu>
    </div>
    <app-task-details class="p-2 overflow-auto" [task]="visibleTask" [list]="selectedList" (saved)="onTaskSaved($event)" (closed)="visibleTask = null">
    </app-task-details>
  </div>
</as-split>

<div *ngIf="!board" class="text-center p-4 fg-4">
  No board selected. <br><span class="font-9">Use left bar to manage.</span>
</div>

<div *ngIf="!loading && (lists == null || lists.length == 0)" class="text-center p-4 fg-4">
  No lists available.
  <br>
  Create first
  <br>
  <br>
  <button class="list-add" mat-stroked-button matTooltip="Create list" (click)="addList()">
    +
  </button>
</div>
