<div class="container">
  <div>
    <div *ngFor="let r of rows" class="row separator py-3 justify-content-between">
      <div class="col-12 col-md">
        <div class="font-11 mb-1">{{r.task.task.title}}</div>
        <div class="row justify-content-between">
          <div class="col-12 col-sm fg-3" [ngClass]="{'fg-warn': r.inPast}">{{ r.dateLine }}</div>
          <div class="col-12 col-sm-auto fg-3" *ngIf="(state.selectedBoard | async).id !== r.task.board.id"><em>{{ r.task.board.title }}</em></div>
        </div>
      </div>
      <div class="col-12 col-md-auto mt-3 mt-md-1 text-right">
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="snooze(r.task, 30)">30 min.</button>
          <button mat-menu-item (click)="snooze(r.task, 60)">1 hour</button>
          <button mat-menu-item (click)="snooze(r.task, 120)">2 hours</button>
          <button mat-menu-item (click)="snooze(r.task, 240)">4 hours</button>
          <button mat-menu-item (click)="snooze(r.task, 1440)">1 day</button>
          <button mat-menu-item (click)="snooze(r.task, 5*1440)">5 days</button>
        </mat-menu>
        <button mat-raised-button color="accent" [matMenuTriggerFor]="menu" class="btn-small mr-2">Snooze</button>
        <button mat-raised-button color="success" class="btn-small" (click)="complete(r.task)">Complete</button>
      </div>
    </div>
  </div>
</div>
