<h1 mat-dialog-title>System settings</h1>
<div mat-dialog-content>
    <div class="container">
        <form [formGroup]="form">

            <div class="row mb-2">
                <div class="col">
                    <h3>General</h3>
                    <hr/>
                </div>
            </div>

            <div class="row my-2">
                <div class="col">
                    <h3>Lists</h3>
                    <hr/>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-12 col-sm-6 mt-2">Task list width [px]</div>
                <mat-form-field class="col-12 col-sm-6 field-small" appearance="outline">
                    <input matInput type="number" maxlength="100" formControlName="taskListWidth">
                    <mat-error *ngFor="let e of (form.get('taskListWidth').errors | keyvalue) || []" app-form-errors
                               [error]="e"></mat-error>
                    <mat-hint>Default: 300</mat-hint>
                </mat-form-field>
            </div>
            <div class="row mb-2">
                <div class="col-12 col-sm-6 mt-2">Task item font size [%]</div>
                <mat-form-field class="col-12 col-sm-6 field-small" appearance="outline">
                    <input matInput type="number" maxlength="100" formControlName="taskItemSize">
                    <mat-error *ngFor="let e of (form.get('taskItemSize').errors | keyvalue) || []" app-form-errors
                               [error]="e"></mat-error>
                    <mat-hint>Default: 100</mat-hint>
                </mat-form-field>
            </div>

            <div class="row mb-2">
                <div class="col-12 col-sm-6 mt-2">Task item padding [%]</div>
                <mat-form-field class="col-12 col-sm-6 field-small" appearance="outline">
                    <input matInput type="number" maxlength="100" formControlName="taskItemPadding">
                    <mat-error *ngFor="let e of (form.get('taskItemPadding').errors | keyvalue) || []" app-form-errors
                               [error]="e"></mat-error>
                    <mat-hint>Default: 100</mat-hint>
                </mat-form-field>
            </div>

            <div class="row mb-2">
                <div class="col-12 col-sm-6 mt-2">Label text visibility in lists</div>
                <mat-form-field class="col-12 col-sm-6 field-small" appearance="outline">
                    <input matInput type="number" maxlength="100" formControlName="taskLabelShowText">
                    <mat-error *ngFor="let e of (form.get('taskLabelShowText').errors | keyvalue) || []" app-form-errors
                               [error]="e"></mat-error>
                    <mat-hint>Default: 1. 0 means hidden, 1 - visible</mat-hint>
                </mat-form-field>
            </div>

            <div class="row mb-3">
                <div class="col-12 col-sm-6 mt-2">
                    <div>Due date visible</div>
                    <div class="mat-hint font-8">Default: true</div>
                </div>
                <div class="col-12 col-sm-6">
                    <mat-slide-toggle formControlName="taskDueDateVisibility"></mat-slide-toggle>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-12 col-sm-6 mt-2">Number of content lines visible for each task in list</div>
                <mat-form-field class="col-12 col-sm-6 field-small" appearance="outline">
                    <input matInput maxlength="100" formControlName="taskShowContentSize">
                    <mat-error *ngFor="let e of (form.get('taskShowContentSize').errors | keyvalue) || []"
                               app-form-errors
                               [error]="e"></mat-error>
                    <mat-hint>Default: 3</mat-hint>
                </mat-form-field>
            </div>

            <div class="row mb-3">
                <div class="col mt-2 mb-1">Configure task visibility in list</div>
                <div class="col-auto mt-2 mb-1">
                    <i class="material-icons icon-btn" matTooltip="Add"
                       (click)="addRow(form.get('listVisibleTaskConfig'))">add</i>
                </div>

                <div class="col-12" formArrayName="listVisibleTaskConfig">
                    <div class="bg-4 p-2" style="border-radius: 10px">
                        <div *ngFor="let listConfig of form.get('listVisibleTaskConfig')['controls']; index as i"
                             class="w-100 mt-2" style="border-bottom: 1px solid rgb(115 136 175)">
                            <ng-container [formGroupName]="i">
                                <div class="row w-100">
                                    <mat-form-field class="col-11 mt-2" appearance="outline">
                                        <mat-label>List name</mat-label>
                                        <input matInput maxlength="100" formControlName="name">
                                        <mat-error *ngFor="let e of (listConfig.get('name').errors | keyvalue) || []"
                                                   app-form-errors
                                                   [error]="e"></mat-error>
                                    </mat-form-field>
                                    <div class="col-1 pt-4">
                                        <button mat-icon-button color="warn"
                                                (click)="deleteRow(form.get('listVisibleTaskConfig'), i)">
                                            <mat-icon>clear</mat-icon>
                                        </button>
                                    </div>
                                </div>
                                <div class="row w-100">
                                    <mat-form-field class="col-12 col-sm-8 col-md-2" appearance="outline">
                                        <mat-label>Order by</mat-label>
                                        <mat-select formControlName="sortBy">
                                            <mat-option *ngFor="let e of taskOrders | keyvalue"
                                                        [value]="e.key">{{e.value}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <div class="col-12 col-sm-4 col-md-2 pt-md-4 pb-2">
                                        <button mat-raised-button
                                                (click)="listConfig.get('sortDir').setValue(sortDir.ASC === listConfig.get('sortDir').value ? sortDir.DESC : sortDir.ASC)">
                                            {{ sortDir.ASC === listConfig.get('sortDir').value ? 'Ascending ⇓' : 'Descending ⇑'}}
                                        </button>
                                    </div>
                                    <mat-form-field class="col-6 col-md-4" appearance="outline">
                                        <mat-label>Min. number of visible tasks (default 10)</mat-label>
                                        <input matInput type="number" formControlName="minVisible">
                                        <mat-error
                                                *ngFor="let e of (listConfig.get('minVisible').errors | keyvalue) || []"
                                                app-form-errors
                                                [error]="e"></mat-error>
                                    </mat-form-field>
                                    <mat-form-field class="col-6 col-md-4" appearance="outline">
                                        <mat-label>Hide task after days (default 14)</mat-label>
                                        <input matInput type="number" formControlName="lastVisibleDays">
                                        <mat-error
                                                *ngFor="let e of (listConfig.get('lastVisibleDays').errors | keyvalue) || []"
                                                app-form-errors
                                                [error]="e"></mat-error>
                                    </mat-form-field>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>


            </div>


            <div class="row my-2">
                <div class="col">
                    <h3>Tasks</h3>
                    <hr/>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-12 col-sm-6 mt-2">Task details panel width [%]</div>
                <mat-form-field class="col-12 col-sm-6 field-small" appearance="outline">
                    <input matInput type="number" maxlength="100" formControlName="detailsWith">
                    <mat-error *ngFor="let e of (form.get('detailsWith').errors | keyvalue) || []" app-form-errors
                               [error]="e"></mat-error>
                    <mat-hint>Default: 25</mat-hint>
                </mat-form-field>
            </div>
            <div class="row mb-2">
                <div class="col-12 col-sm-6 mt-2">Parse codes and replace with links</div>
                <mat-form-field class="col-12 col-sm-6 field-small" appearance="outline">
                    <textarea matInput class="text-monospace" maxlength="10000" rows="5"
                              formControlName="codeParserConfig"></textarea>
                    <mat-error *ngFor="let e of (form.get('codeParserConfig').errors | keyvalue) || []" app-form-errors
                               [error]="e"></mat-error>
                    <mat-hint>Each code in new line. Format: &lt;regexp&gt;;&lt;url with $ indexed group number&gt;
                    </mat-hint>
                    <mat-hint align="end">{{form.get('codeParserConfig').value?.length || 0}} / 10000</mat-hint>
                </mat-form-field>
            </div>

        </form>
    </div>
</div>
<div mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-raised-button color="accent" (click)="save()">Save</button>
</div>
