<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
  <mat-form-field class="w-100" appearance="fill">
    <mat-label>{{data.label}}</mat-label>
    <input cdkFocusInitial matInput [formControl]="name">
    <mat-error *ngFor="let e of (name.errors | keyvalue) || []" app-form-errors [error]="e"></mat-error>
  </mat-form-field>
</div>
<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="accent" (click)="save()">Save</button>
</div>
