<h1 mat-dialog-title>Create label</h1>
<div mat-dialog-content>
  <mat-form-field class="w-100" appearance="outline">
    <mat-label>Name</mat-label>
    <input cdkFocusInitial matInput [formControl]="name">
    <mat-error *ngIf="name.hasError('required')">Cannot be empty</mat-error>
  </mat-form-field>
  <div class="d-flex align-items-center">
    <span>Color: </span>
    <div [style.background-color]="color" style="height: 2rem; line-height: 2rem; cursor: pointer" class="ml-2 flex-grow-1 font-8 text-center"
         [(colorPicker)]="color">Click to change
    </div>
  </div>
</div>
<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="accent" (click)="save()">Save</button>
</div>
