@import "../../assets/scss/colors.scss";

.task-label {
  display: inline-block;
  min-height: 0.25rem;
  border-radius: 0.5rem;
  margin-right: 0.4rem;
  padding: 0.1rem 0.4rem;
  background-color: $background-quaternary;
  min-width: 1.5rem;
}

.task-label-editable {
  box-shadow: $elevate-2;
  font-size: 0.9rem;
  border-radius: 0.7rem;
}
