<h1 mat-dialog-title>Reminders</h1>
<div mat-dialog-content class="flex-grow-1">
  <app-reminders-list #reminders [tasks]="data.tasks" (closed)="close()"></app-reminders-list>
</div>
<div mat-dialog-actions align="end">
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="reminders.snoozeAll(30)">30 min.</button>
    <button mat-menu-item (click)="reminders.snoozeAll(60)">1 hour</button>
    <button mat-menu-item (click)="reminders.snoozeAll(120)">2 hours</button>
    <button mat-menu-item (click)="reminders.snoozeAll(240)">4 hours</button>
    <button mat-menu-item (click)="reminders.snoozeAll(1440)">1 day</button>
    <button mat-menu-item (click)="reminders.snoozeAll(5*1440)">5 days</button>
  </mat-menu>

  <button mat-button class="mr-2" (click)="close()">Hide</button>
  <button mat-stroked-button *ngIf="data.tasks?.length > 0" color="accent" class="mr-2" [matMenuTriggerFor]="menu">Snooze all</button>
  <button mat-stroked-button *ngIf="data.tasks?.length > 0" color="success" (click)="reminders.completeAll()">Complete all</button>
</div>
