<h1 mat-dialog-title>Reminders</h1>
<div mat-dialog-content class="flex-grow-1">
  <app-reminders-list #reminders [tasks]="data.tasks" (closed)="close()"></app-reminders-list>
</div>
<div mat-dialog-actions align="end">
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="reminders.snoozeAll(30)">30 min.</button>
    <button mat-menu-item (click)="reminders.snoozeAll(60)">1 hour</button>
    <button mat-menu-item (click)="reminders.snoozeAll(120)">2 hours</button>
    <button mat-menu-item (click)="reminders.snoozeAll(240)">4 hours</button>
    <button mat-menu-item (click)="reminders.snoozeAll(1440)">1 day</button>
    <button mat-menu-item (click)="reminders.snoozeAll(7*1440)">7 days</button>
  </mat-menu>


  <div *ngIf="data instanceof "></div>

  <button mat-stroked-button color="accent" class="mr-2" [matMenuTriggerFor]="menu" >Snooze all</button>
  <button mat-stroked-button color="success" (click)="reminders.completeAll();close()">Complete all</button>
</div>
