<h1 mat-dialog-title>About</h1>
<div mat-dialog-content>
  Created by Sheryv
  <br>
  Source code available on Github <a (click)="open('https://github.com/Sheryv/SKanban')">https://github.com/Sheryv/SKanban</a>
  <br><br>
  Version: 0.1.0
  <br><br>
  License: <strong>GNU General Public License v3.0</strong>
  <br><br>
  Based on: <a (click)="open('https://github.com/dalenguyen/todo-app-electron-angular')">https://github.com/dalenguyen/todo-app-electron-angular</a>
</div>
<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>OK</button>
</div>
