<h1 mat-dialog-title>About</h1>
<div mat-dialog-content>
  Created by Sheryv
  <br>
  Source code available on Github <a href="#" (click)="open('https://github.com/Sheryv/SKanban')">https://github.com/Sheryv/SKanban</a>
  <br><br>
  Version: {{version}}
  <br><br>
  License: <strong>GNU Affero General Public License v3.0</strong>
  <br><br>
  Based on:
  <div>
    <a href="#" (click)="open('https://github.com/maximegris/angular-electron')">https://github.com/maximegris/angular-electron</a>
  </div>
  <div>
    <a href="#" (click)="open('https://github.com/cawa-93/vite-electron-builder')">https://github.com/cawa-93/vite-electron-builder</a>
  </div>
</div>
<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>OK</button>
</div>
