/* You can add global styles to this file, and also import other style files */
// @import "../node_modules/uikit/src/scss/variables-theme.scss";
// @import "../node_modules/uikit/src/scss/mixins-theme.scss";
// @import "../node_modules/uikit/src/scss/uikit-theme.scss";

// Add these line to angular.json > scripts [] if you want to use UIKit
// "../node_modules/jquery/dist/jquery.min.js",
// "../node_modules/uikit/dist/js/uikit.min.js",
// "../node_modules/uikit/dist/js/uikit-icons.min.js"

// Angular Material
//@import "~@angular/material/prebuilt-themes/indigo-pink.css";
//@import "~@angular/material/prebuilt-themes/purple-green.css";
@import '~@angular/material/theming';
@include mat-core();

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(./client/assets/fonts/Roboto-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto-Thin';
  font-style: normal;
  font-weight: 300;
  src: url(./client/assets/fonts/Roboto-Thin.ttf) format('truetype');
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(./client/assets/fonts/material-icons.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}

$dark-primary: mat-palette($mat-orange);
$dark-accent: mat-palette($mat-blue, A200, A100, A400);

// The warn palette is optional (defaults to red).
$dark-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$cdark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($cdark-theme);

@import "client/assets/css/bootstrap-grid.min.css";
@import "client/assets/css/utils.css";
@import "client/assets/scss/fontawesome/fontawesome";
@import "client/assets/scss/fontawesome/solid";
@import "client/assets/scss/main.scss";
