name: Main

on:
  workflow_dispatch:
#   push:
#     tags: [ 'v*' ]
# #     branches: [master]
# #   pull_request:
# #     branches: [master]

jobs:
  build-win:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    steps:
    - name: Check out Git repository
      uses: actions/checkout@v1


    - name: Install Node.js, NPM and Yarn
      uses: actions/setup-node@v1
      with:
        node-version: 16
#    - name: tsc compile
#      uses: iCrawl/action-tsc@v1
#      with:
#        project: main/src
    - name: Build renderer module
      shell: bash
      run: npm install && npm run build:front

    - name: Install tsc and build main module
      shell: bash
      run: npm install -g typescript && npm install && tsc -p src/tsconfig.json
      working-directory: main

    - name: Electron Builder
      uses: paneron/action-electron-builder@v1.8.1
      with:
        # Whether to skip package manager install
        skip_package_manager_install: false # optional
        # Package manager to use (`pnpm | yarn | npm`)
        package_manager: npm # optional, default is yarn
        # GitHub authentication token
        github_token: ${{ secrets.github_token }}
        # Base64-encoded code signing certificate for macOS
#         mac_certs: # optional
        # Password for decrypting `mac_certs`
#         mac_certs_password: # optional
        # Whether the app should be released after a successful build
        release: ${{ startsWith(github.ref, 'refs/tags/v') }} # optional
        # Base64-encoded code signing certificate for Windows
#         windows_certs: # optional
        # Password for decrypting `windows_certs`
#         windows_certs_password: # optional
        # Directory where NPM/Yarn commands should be run
#         package_root: # optional, default is .
        # Name of the optional NPM build script which is executed before `electron-builder`
#        build_script_name: build:front # optional, default is build
        # Whether the action should execute the NPM build script before running `electron-builder`
        skip_build: true # optional
        # Whether to run `electron-builder` using the Vue CLI plugin instead of calling the command directly
#         use_vue_cli: # optional
        # Other arguments to pass to the `electron-builder` command, e.g. configuration overrides
        args: "--publish=never portable" # optional, default is
        # Maximum number of attempts for completing the build and release step
#         max_attempts: # optional, default is 1
        # Directory where `electron-builder` commands should be run
#         app_root: # optional
